<div>
    <h1 class="title-white">¡Registrate!</h1>

    <div *ngIf="!validForm" class="invalid-form-alert">
        {{errorMessage}}
    </div>

    <form [formGroup]="registerForm" (ngSubmit)="register()">

        <div class="register">
            <div>
                <input type="text" formControlName="name" placeholder="Escribte tu nombre">
            </div>

            <div>
                <input type="text" formControlName="surname" placeholder="Escribte tu apellido">
            </div>

            <div>
                <input type="text" formControlName="email" placeholder="Escribte tu email">
            </div>

            <div>
                <input type="password" formControlName="password" placeholder="Escribte tu contraseña">
            </div>

            <div>
                <button type="submit" class="btn-accept">Registrarse</button>
            </div>

            <div>
                <span (click)="rotateCard()" class="btn-forgot">Regresar al login</span>
            </div>

        </div>

    </form>

</div>