<h1 class="title-white">¡Bienvenido!</h1>

<form [formGroup]="loginForm" (ngSubmit)="login()">
    <div *ngIf="!validForm" class="invalid-form-alert">
        Usuario o contraseña no válidos
    </div>

    <div class="login">
        <div>
            <input type="text" formControlName="email" placeholder="Usuario (email)">
        </div>

        <div>
            <input type="password" formControlName="password" placeholder="Contraseña">
        </div>

        <div>
            <button type="submit" class="btn accept">Entrar</button>
        </div>

        <div>
            <button (click)="rotateCard('register')" class="btn register">Registrarse</button>
        </div>

        <div>
            <span (click)="rotateCard('recover-password')" class="btn-forgot">¿Olvidaste tu contraseña?</span>
        </div>
    </div>

</form>