<h1 class="title-white">Recupera tu contraseña</h1>

<form [formGroup]="recoverPasswordForm" (ngSubmit)="sendResetEmail()">
    <div *ngIf="!validForm" class="invalid-form-alert">
        {{this.errorMessage}}
    </div>
    <div *ngIf="this.showSuccess" class="invalid-form-alert success">
        {{this.successMessage}}
    </div>

    <div>

        <div>
            <input type="text" formControlName="email" placeholder="Usuario (email)">
        </div>

        <div>
            <button type="submit" class="btn-accept">Aceptar</button>
        </div>

        <div>
            <span (click)="rotateCard()" class="btn-forgot">Regresar al login</span>
        </div>

    </div>

</form>