<h1 mat-dialog-title>Hola {{data.name}}</h1>
<div mat-dialog-content>
    <p>Escribe una frase o cita para publicar</p>
    <mat-form-field appearance="fill">
        <mat-label>Frase o cita</mat-label>
        <input matInput [(ngModel)]="data.message">
    </mat-form-field>
</div>
<div mat-dialog-actions align="end">
    <button mat-button (click)="onNoClick()">Cancelar</button>
    <button mat-button [mat-dialog-close]="data.message" cdkFocusInitial>Publicar</button>
</div>