.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td,
th {
  width: 25%;
}

table {
  width: 100%;
}

tr {
  &.detail-row {
    height: 0;
  }
  &.element-row:not(.expanded-row):hover {
    background: whitesmoke;
  }
  &.element-row:not(.expanded-row):active {
    background: #efefef;
  }
}

.element-row {
  &.removed {
    filter: opacity(0.5);
  }

  td {
    border-bottom-width: 0;
  }
}

.tag {
  padding: 5px 10px;
  background-color: #00ae00;
  color: white;
  border-radius: 5px;
  background-color: #bebebe;

  &.approved {
    background-color: #00ae00;
  }
  &.refused {
    background-color: #fd0000;
  }
  &.removed {
    background-color: white;
    color: red;
  }
}

.element-detail {
  overflow: hidden;
  display: flex;

  .comments-container {
    width: 100%;

    .group-comment {
      padding: 10px;

      .label-user {
        display: flex;
        align-items: center;
        margin-bottom: 10px;

        mat-icon {
          margin-right: 10px;
        }
      }

      .comment {
        padding: 5px 20px;
      }
    }
  }
}

.label-user {
  color: #717171;
}
