<mat-toolbar>
    <button (click)="drawer.toggle()" mat-icon-button class="icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
    </button>
    <span class="title">Admin</span>
    <span class="spacer"></span>
</mat-toolbar>
<mat-drawer-container class="container" autosize>
    <mat-drawer #drawer class="sidenav" mode="side" opened>

        <div class="brand">
            <a href="#">α</a>
        </div>

        <div routerLink="/admin" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}"
            class="item-menu">
            <mat-icon class="icon">book</mat-icon>
            <span class="txt">Post</span>
        </div>

        <div class="item-menu" (click)="logout()">
            <mat-icon class="icon">exit_to_app</mat-icon>
            <span class="txt">Cerrar sesión</span>
        </div>

    </mat-drawer>

    <div class="sidenav-content">
        <router-outlet></router-outlet>
    </div>

</mat-drawer-container>