.container {
  height: 100%;
}

.sidenav-content {
  margin: 50px;
}

.spacer {
  flex: 1 1 auto;
}

.title {
  padding-left: 20px;
}

.sidenav {
  //   padding: 20px;

  .item-menu {
    display: flex;
    align-items: center;
    padding: 20px;

    &.active-link {
      background: #00000024;
    }

    .icon {
      padding-right: 15px;
    }

    &:hover {
      background: #00000024;
      cursor: pointer;
    }
  }
}

mat-drawer {
  width: 250px;
}

.brand {
  padding: 20px 20px 25px;

  a {
    display: block;
    width: 70px;
    height: 70px;
    margin: 0 auto;
    padding: 0;
    font-size: 2.5rem;
    font-weight: 300;
    font-style: italic;
    text-align: center;
    text-decoration: none !important;
    line-height: 62px;
    color: #7a9ab6;
    background: #003b69;
    border-radius: 100%;
  }
}
