<mat-form-field appearance="standard">
    <mat-label>Filtrar</mat-label>
    <input matInput (keyup)="applyFilter($event)" #input>
</mat-form-field>

<div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort multiTemplateDataRows>

        <!-- ID Post -->
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
            <td mat-cell *matCellDef="let row"> {{row.id}} </td>
        </ng-container>

        <!-- Content -->
        <ng-container matColumnDef="content">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Mensaje </th>
            <td mat-cell *matCellDef="let row"> {{row.content}} </td>
        </ng-container>

        <!-- Status -->
        <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
            <td mat-cell *matCellDef="let row"> <span [ngClass]="['tag', row.status]">{{row.status}}</span> </td>
        </ng-container>

        <!-- Creation date -->
        <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha </th>
            <td mat-cell *matCellDef="let row">{{row.created_at}}
            </td>
        </ng-container>

        <!-- Actions -->
        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Acciones </th>
            <td mat-cell *matCellDef="let row; let index = dataIndex">

                <button *ngIf="!['refused', 'removed'].includes(row.status)"
                    (click)="updateStatus(row.id, index, $event)" mat-button color="warn">Retirar</button>
            </td>
        </ng-container>

        <ng-container matColumnDef="expand">
            <th mat-header-cell *matHeaderCellDef aria-label="row actions">&nbsp;</th>
            <td mat-cell *matCellDef="let element">
                <button mat-icon-button aria-label="expand row" (click)="togglePanel($event, element)">
                    <mat-icon *ngIf="expandedElement !== element">keyboard_arrow_down</mat-icon>
                    <mat-icon *ngIf="expandedElement === element">keyboard_arrow_up</mat-icon>
                </button>
            </td>
        </ng-container>

        <ng-container matColumnDef="expandedDetail">
            <td mat-cell *matCellDef="let element; let i = dataIndex"
                [attr.colspan]="columnsToDisplayWithExpand.length">
                <div class="element-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                    <div class="comments-container">

                        <div *ngFor="let comment of element.comments;" class="group-comment">
                            <div class="label-user">
                                <mat-icon>account_circle</mat-icon>
                                <span>{{comment.user.name}} ({{comment.user.role_id == 1 ? 'Admin' : 'Invitado'}})
                                </span>
                            </div>
                            <div class="comment">
                                {{comment.message}}
                            </div>
                        </div>

                        <div>
                            <mat-form-field class="example-full-width" appearance="fill">
                                <mat-label>Comentario</mat-label>
                                <input matInput placeholder="Deja un comentario..." (change)="addComment(element.id, i)"
                                    [(ngModel)]="this.newComment">
                            </mat-form-field>
                        </div>
                    </div>
                </div>
            </td>
        </ng-container>

        <!-- Se muestra cuendo no hay datos -->
        <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
        </tr>

        <tr mat-header-row *matHeaderRowDef="columnsToDisplayWithExpand"></tr>
        <tr mat-row *matRowDef="let element; columns: columnsToDisplayWithExpand;"
            [ngClass]="['element-row', element.status]" [class.expanded-row]="expandedElement === element"
            (click)="togglePanel($event, element)">
        </tr>
        <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="detail-row"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
</div>