:host {
  display: block;
  perspective: 600px;
}

.card {
  border-radius: 5px;
  //   height: 300px;
  //   width: 200px;
  cursor: pointer;
  position: relative;
  transform-style: preserve-3d;

  box-shadow: 0 4px 30px rgb(0 0 0 / 10%);
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(255, 255, 255, 0.2);
  min-height: 460px;
}

.face {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  backface-visibility: hidden;
  //   min-height: 411px;

  > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: inherit;
  }
}

.front {
  transform: rotateY(180deg);
}

.back {
  position: absolute;
}

.center-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  //   min-height: 440px;
  height: 100%;
  position: relative;
}
