<div class="card" [@cardFlip]="state">
    <div class="face back">

        <app-login *ngIf="secondView == 'login'" class="center-content" (triggerFlip)="cardClicked($event)"></app-login>

    </div>
    <div class="face front">
        <app-register class="center-content" *ngIf="secondView == 'register'" (triggerFlip)="cardClicked($event)">
        </app-register>
        <app-recover-password class="center-content" *ngIf="secondView == 'recover-password'"
            (triggerFlip)="cardClicked($event)">
        </app-recover-password>
    </div>

</div>