/* You can add global styles to this file, and also import other style files */

body,
header {
  font-family: "Montserrat", sans-serif;
}

.card-glass {
  padding: 100px 50px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgb(0 0 0 / 10%);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.btn-back {
  color: white;
  position: relative;
  z-index: 1000;
  top: -400px;
  left: -271px;
}

.invalid-form-alert {
  position: relative;
  padding: 0.25rem 1.25rem;
  border-radius: 0.25rem;
  color: #ffffff;
  background-color: #00000052;
  width: 423px;
  margin: 0 auto;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
  border-left: 2px solid #ea3131;

  &.success {
    border-left: 2px solid #00ff44;
  }
}

.title-white {
  color: white;
}

button {
  cursor: pointer;
}

// ====================================================== //
// ======================== Auth ======================== //
// ====================================================== //
$purple: #92f3de;
$teal: #926dd8;

@keyframes verticalBreathing {
  0% {
    background-position: 0% 0%;
  }
  25% {
    background-position: 40% 40%;
  }
  50% {
    background-position: 80% 80%;
  }
  75% {
    background-position: 20% 60%;
  }
  100% {
    background-position: 0% 0%;
  }
}

.auth-background {
  background: linear-gradient(-38deg, $purple, $teal);
  background-size: 200% 200%;
  animation: verticalBreathing 15s ease infinite;
  display: flex;
  height: 100vh;
  justify-content: center;
}

.auth-content {
  max-width: 600px;
  width: 90%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
