<div class="auth-background">
    <div class="auth-content">

        <div class="card">
            <h1 class="title-white">Recupera tu contraseña</h1>

            <form [formGroup]="resetPasswordForm" (ngSubmit)="reset()">
                <div *ngIf="!validForm" class="invalid-form-alert">
                    {{errorMessage}}
                </div>

                <div>

                    <div>
                        <input type="text" formControlName="email" placeholder="Usuario (email)">
                    </div>
                    <div>
                        <input type="text" formControlName="password" placeholder="Nueva contraseña">
                    </div>
                    <div>
                        <input type="text" formControlName="password_confirmation" placeholder="Confirma la contraseña">
                    </div>

                    <div>
                        <button type="submit" class="btn-accept">Aceptar</button>
                    </div>

                </div>

            </form>

        </div>

    </div>
</div>