form {
  margin-bottom: 20px;
}

input {
  margin: 10px;
  padding: 12px;
  border-radius: 20px;
  width: 75%;
  background: #0000001a;
  color: white;
  border: 2px solid white;
}

input::placeholder {
  color: #d2d0d0;
}
input::-webkit-input-placeholder {
  color: #d2d0d0;
} /* Chrome, Opera ySafari */
input::-moz-placeholder {
  color: #d2d0d0;
} /* Firefox 19+ */
input:-ms-input-placeholder {
  color: #d2d0d0;
} /* IE 10+ y Edge */
input:-moz-placeholder {
  color: #d2d0d0;
} /* Firefox 18- */

.btn-accept {
  padding: 10px 20px;
  border-radius: 20px;
  width: 200px;
  font-size: medium;
  margin: 10px 0 13px;
  background: #0e6b9c9e;
  color: white;
  border: 0;
}

.btn-forgot {
  font-size: small;
  color: white;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
  transform-style: preserve-3d;

  box-shadow: 0 4px 30px rgb(0 0 0 / 10%);
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(255, 255, 255, 0.2);
  min-height: 460px;
}
